/* main elements */
body {
  font-family: 'Varela Round', sans-serif;
  text-align: center;
}

h1 {
  font-weight: 600;
}

/* containers */
.container-fluid {
  padding: 3% 15% 7%;
}

/* border for embedded elements */
.border-embed {
  border-radius: 6px;
}

/* navbar */

/* moving the logo to a different side */
.navbar {
  direction: ltr;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 600;
}

/* Title section */

#title {
  background-color: #F2A25C;
  color: #fff;
}

.header-button {
  margin: 3% 3% 2% 0;
}

.header-button a {
  text-decoration: none;
  color: inherit;
}

.instgram-button {
  background-color: #af78d3;
  border-color: #a365cd;
  color: #fff;
}

.instgram-button:hover {
  background-color: #833ab4;
  border-color: #7e38ad;
  color: #fff;
}

.instgram-button:focus,
.instgram-button.focus {
  box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)
}

.description {
  text-align: right;
}

/* Newslatter */

#newslatter {
  margin-top: 2%;
}

.newslatter-title {
  padding-top: 1%;
  margin-bottom: 0;
}

/* Our Music */
#ourmusic {
  background-color: #F27244;
}

.ourmusic-title {
  padding-top: 1%;
  margin-bottom: 0;
}

.music-embed {
  padding-top: 1%;
  padding-bottom: 1%;
}

/* Shows */

.shows-title {
  padding-top: 1%;
  margin-bottom: 0;
}

.show-image {
  width: 90%;
  margin: 5%;
  border-radius: 5px;
}

.shows-time {
  text-align: right;
}

.shows-button {
  margin-right: 2%;
}

.shows-button a {
  text-decoration: none;
  color: inherit;
}

/* Footer */

#footer {
  background-color: #011C26;
  color: #fff;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding: 1% 15%;
}

.social-icon {
  font-size: 1.5rem;
  margin: 20px 10px;
}

/* scroll up button */

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    /* display: none; */
}
